<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Movies List</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/libs/angular.js"></script>
  </head>
  <body>
    <!-- /*<style>
      .old{background: red;}
      .new{background: blue;}
    </style>*/ -->
    <div ng-controller="MoviesController as movies">
      <div>
        <form ng-submit="movies.addMovie();">
          <p>Add a movie:</p>
          <input
            type="text"
            placeholder="title"
            ng-model="movies.newTitle">
          <input
            type="text"
            placeholder="year"
            ng-model="movies.newYear">
          <button type="submit">Add new movie!</button>
        </form>
      </div>
      <div class="likes">
        <p>Niko´s Likes</p>
        <ul>
          <li ng-repeat="like in movies.likesList">
            <!-- <p>Add likes here!</p> -->
            <p>{{ like.title }}</p>
            <a href="" ng-click="movies.unlike($index);">Unlike!</a>
          </li>
        </ul>
      </div>
        <ul>
          <!-- <li
            ng-class="movie.year > 1999 ? 'new' : 'old'",
            ng-repeat="movie in movies.favorites"> -->
          <li ng-repeat="movie in movies.favorites">
            <!-- <img ng-src="img/front.jpg/{{movie.img}}" alt="Front img"> -->
            <!-- <p>{{ movie.title }} {{ $index }}</p> -->
            <p>{{ movie.title }} {{ $index }}</p>
            <a href="" ng-click="movies.addToLikes(movie)">Likes this movie</a>
            <!-- <p>Release in: {{ movie.year }}</p> -->
            <!-- <input type="text" ng-model="movie.year"> -->
            <!-- <p ng-show = "movie.popular">This movie is popular!</p>
            <p ng-show = "movie.year > 2009">This movie is quite new!</p> -->
            <!-- <div ng-switch = "movie.category">
              <div ng-switch-when = "action">
                Action Movie!
              </div>
              <div ng-switch-when = "fantasy">
                Fantasy movie!
              </div>
              <div ng-switch-default>
                Movie has no category!
              </div>
            </div> -->
          </li>
        </ul>
    </div>
    <!-- <div>
      <button ng-click="count = count + 1" ng-init="count=0">
        Increment
      </button>
      <span>
        count: {{count}}
      </span>
    </div> -->
    <script src="js/libs/app.js"></script>
    <script src="js/libs/todo.controller.js"></script>
  </body>
</html>
